{% extends 'layout.html' %}

{% block css %}
<style>
  body{
    background-image: url('/static/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
{% endblock %}


{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6 mt-4">
      <div class="card shadow-lg">
        <div class="card-body">
          <form method="post" id="registerform">
            <div class="form-group">
              <label for="username" class="text-danger"><i class="fa fa-user" aria-hidden="true"></i> Username</label>
              <input type="text"
              class="form-control" name="username" id="username" aria-describedby="usernamehelp" placeholder="kaladin stormblessed">
              <small id="usernamehelp" class="form-text text-muted">Please fill the username, min. 10 character. No special characters</small>
            </div>
            <div class="form-group">
              <label for="email"><i class="fa fa-envelope" aria-hidden="true"></i> Email Address</label>
              <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="kaladin@storm.com">
              <small id="emailHelp" class="form-text text-muted">Enter a valid email, we will send verification mail to you, only then you can access the web app</small>
            </div>
            
            <button class="btn btn-danger">
              Register
            </button>
            <div id="statusout"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script>
  $(function () {
    $('#registerform').submit(function(event){
      event.preventDefault();
      event.stopPropagation();
      $('button').html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Processing...')
      // get form values as variables
      let uname = $('#username').val()
      let email = $('#email').val()
      
      $.ajax({
        type: "POST",
        url: "/ajax_register",
        data: {
          "username" : uname,
          "email" : email,
          "status" : "just some crap"
        },
        success: function (response) {
          $('button').html(response.status)
        },
        error: function(response){
          $('button').html(response.status)              
        }
      });
    })
  });
</script>
{% endblock %}








